/* 
HEADER SECTION */
html{
    scroll-behavior: smooth;
}
body{
  position: relative;
}

.active{
  text-decoration: underline;
}
.bg-primary{
  background-color: #0420A3!important;;

}
.btn-primary {
  color: #fff;
  background-color: #0420A3;
  border-color: #0420A3;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4)
}
.slides-container img{
  width: 50%;
}

header{
  margin-bottom: 110px;
}
.heading{
  margin-bottom: 50px;
}

.container{
  margin-top: 50px;
  margin-bottom: 75px;
}
.titleMessage{
    position: absolute;
    z-index:5;
    width: 100%;
    text-align: center;
    height: 250px;
    top: 50%;
    margin-top: -125px;
}

.main, .sub{
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 5px;
}


.main{
    font-size: 50px;
}
.sub{
    font-size: 23px;
    width: 90%;
    margin: auto;
}


.slides-navigation{
    z-index: 6;
}
.slides-navigation .prev,
.slides-navigation .next,
.bottom{
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.slides-navigation a.prev{
    left: 20px;
    background-image: url("../img/icons/prev.png");
    
}

.bottom-icon-div{
  z-index: 7;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 90%;
}
/* .bottom{
  margin: auto;
} */

.slides-navigation a.next{
    right: 20px;
    background-image: url("../img/icons/next.png");
    
}

/* ABOUT */
#about p{
  font-size: 1.2rem;
  text-align: center;
}

/* BOOSTRAP PRICING */
html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
  }
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/* SERVICES */
#services, #additional-services{
  background-color: #0420A3;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}
  #services-container{
    width: 50%;
    margin: auto;
  }
  #services h4{
    text-decoration: underline;
  }

  /* ADITIONAL SERVICES */
  #additional-services-container{
    width: 70%;
    list-style: none;
    margin: auto;
    padding: 0;
  }
  #additional-services li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #fff;
  }

  #phone-number{
    padding: 10px;
    color: #fff;
    background-color: #0420A3;
    display: inline-block;
    border-radius: 10px;
  }

  footer{
    background-color: #0420A3;
    color: #fff;
    padding: 10px 0;
    
  }
  footer p{
    margin-bottom: 0;
  }

  @media (min-width:577px){
    .bottom-icon-div{
      display: none;
    }
  }

  @media (max-width: 576px) {
    .slides-navigation .prev,
    .slides-navigation .next{
      display: none;
    }

    #services-container{
      width: 80%;
    }

    #additional-services-container {
      width: 90%;
    }

   }